@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.stick {
  content: "";
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.stickPlace {
  display: flex;
  width: 100%;
  align-items: center;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.aboutContainer {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.name {
  position: relative;
  padding: 15px;
  text-align: center;
  white-space: nowrap;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .name {
    font-size: 2rem;
  }
}

@media (max-width: 523px) {
  .name {
    font-size: 1.5rem;
  }
}
